/* Extra small devices (phones, less than 768px) */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: royalblue;
}

#container {
  width: 80%;
  height: 300px;
  background-color: white;
  margin: 200px auto 0 auto;
  border-radius: 5px;
}
